<NavSm></NavSm>
<div class="container">
<div>
    <h4 class="bg-info text-center">Reporte Ordenes</h4>
</div>
<div class="row" style="background-color:#AED6F1;">
    <div class="col-4">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate  placeholder="Start date" [(ngModel)]="dateStart">
              <input matEndDate placeholder="End date" [(ngModel)]="dateEnd">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
    </div>
    <div class="col-4">
        <h5>mat select</h5>
        <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="5">Ordenes entregadas</mat-option>
              <mat-option value="2">Ordenes en ruta</mat-option>
              <mat-option value="3">Ordenes en sitio</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-4 text-end ">
        <br>
        <button class="btn btn-info btn-lg align-bottom" (click)="viewData()">Ver Informe</button>
    </div>
</div>
</div>
