<NavSm></NavSm>
<div class="text-center">
<h6>Detalle Ordenes</h6>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 text-start">
            <h5>Tienda</h5>
            <mat-form-field appearance="fill">
              <mat-label>Seleccione</mat-label>
              <select matNativeControl [(ngModel)]="idTienda" name="tienda">
                <option value="" selected></option>
                <option *ngFor="let tdsm  of allstore" [value]="tdsm.id">
                  {{tdsm.name}}
                </option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-3 text-end ">
            <br>
            <button class="btn btn-info btn-lg align-bottom" (click)="viewData()">Ver Informe</button>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>Orden</th>
            <th>Cliente</th>
            <th>Status</th>
            <th>Tiempo</th>
            <th>Monto</th>
            <th>Metodo pago</th>
            <th>Ver orden</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comp of ordersViews" [ngClass]="comp.estado === 'Orden sin asignar'? 'bg-light':comp.estado === 'asignada'?
        'bg-secondary':comp.estado === 'en ruta'?'bg-warning':comp.estado === 'en el sitio'?
        'bg-info':comp.estado === 'entregado'?'bg-success':comp.estado === 'emergencia'?'bg-danger':comp.estado === 'programado'?'bg-dark':''">
            <td>{{comp.orden}}</td>
            <td>{{comp.name}}</td>
            <td [ngClass]="comp.estado === 'Orden sin asignar'? 'bg-light':comp.estado === 'asignada'?
            'bg-secondary':comp.estado === 'en ruta'?'bg-warning':comp.estado === 'en el sitio'?
            'bg-info':comp.estado === 'entregado'?'bg-success':comp.estado === 'emergencia'?'bg-danger':comp.estado === 'programado'?'bg-dark':''">{{comp.estado}}</td>
            <td>
                <app-count-down 
                [deliveryDate] = "comp.deliveryDate"
                [orderType] = comp.order_type
                ></app-count-down>
            </td>
            <td>{{comp.monto}}</td>
            <td>{{comp.tipoPago}}</td>
            <td><a [routerLink]="['/detail-single/', comp.order_id]" class="btn bg-info text-dark"
                >ver orden</a></td>

        </tr>
    </tbody>
</table>
</div>