<NavSm></NavSm>
<br>
<div class="container-sm">
     <!-- Button trigger modal -->
     <button (click)="emergency()" data-orden="" type="button" class="btn btn-danger col-6" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Emergencia
    </button>
</div>
<div class="container-sm">
  
        <div *ngFor="let orderBiker of ordersStructureBiker" class="">
            <div *ngIf="orderBiker.vistaPedido"  class="row border border-primary border-2">
            <div class="col-12 fs-6 fw-bold text-danger">
                Orden No. {{orderBiker.orden}}
            </div>
            <div class="col-6">
                {{orderBiker.nombre}}
            </div>
            <div class="col-6 text-end">
                <app-count-down
                    [deliveryDate] = "orderBiker.deliveryDate"
                    [orderType] = orderBiker.tipo_orden
                ></app-count-down>
            </div>
            <div class="col-12">
                Dirección de Entrega
            </div>
            <div class="col-12">
                {{orderBiker.direccion}}
            </div>
            <div class="col-6">
                Telefono
            </div>
            <div class="col-6">
                <a href="{{'tel:+502'+orderBiker.telefono}}">{{orderBiker.telefono}}</a>               
            </div>
            <div class="col-6">
                Tipo pago
            </div>
            <div class="col-6">
                {{orderBiker.tipoPago}}
            </div>
            <div class="col-6">
                Total
            </div>
            <div class="col-6">
                {{orderBiker.total}}
            </div>
            <div class="col-6">
                Cambio
            </div>
            <div class="col-6">
                {{orderBiker.cambio}}
            </div>
            <div class=" col-6 row">
                <div *ngIf="orderBiker.mEnRuta" class="">
                    <button (click)="showRuta(orderBiker.id, orderBiker.indice)" id="{{'ruta' + orderBiker.orden}}" class="btn btn-warning col-12">En ruta</button>
                </div>
                <div *ngIf="orderBiker.mEnSitio" class="">
                    <button (click)="showSitio(orderBiker.id, orderBiker.indice)" id="{{'sitio' + orderBiker.orden}}" class="btn btn-info col-12">En sitio</button>
                </div>
                <div *ngIf="orderBiker.mEntregado" class="">
                    <button (click)="showEntrega(orderBiker.id, orderBiker.indice)" id="{{'fin' + orderBiker.orden}}" class="btn btn-success col-12">fin</button>
                </div>
            </div>
            <div class="col-12">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="{{'#collapseExample' + orderBiker.orden}}" role="button" aria-expanded="false" aria-controls="exampleModalLabel">
                  Ver Orden
                </a>
            </div>
            <div class="collapse" id="{{'collapseExample' + orderBiker.orden}}">
                <div class="card card-body">
                    <div class="row">
                        
                    </div>
                    <div class="col-12">
                        <table class="table table-dark table-striped table-sm col-12">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="orderBiker.detalle && orderBiker.detalle.length > 0" class="text-left">
                                    <tr *ngFor="let masterSingle of orderBiker.detalle">
                                            <td scope="row">
                                                <div class="fs-6">
                                                    {{masterSingle.master}}
                                                </div>
                                                <div *ngIf="masterSingle.items && masterSingle.items.length > 0">
                                                    <div *ngFor="let itemsSingle of masterSingle.items" class="">
                                                        <div class="">
                                                            - {{itemsSingle.producto}}
                                                            <div *ngIf="itemsSingle.complemento && itemsSingle.complemento.length > 0">
                                                                <div *ngFor="let complemento of itemsSingle.complemento" class="">
                                                                    <div>
                                                                        &nbsp; &nbsp; &nbsp;-- {{complemento.itemcomp}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td>
                                                <div class="fs-6text-center">
                                                    {{masterSingle.cantidad}}
                                                </div>
                                                
                                                <div *ngIf="masterSingle.items && masterSingle.items.length > 0">
                                                    <div *ngFor="let itemsSingle of masterSingle.items" class="">
                                                        <div class="">
                                                            {{itemsSingle.unidad}}
                                                            <div *ngIf="itemsSingle.complemento && itemsSingle.complemento.length > 0">
                                                                <div *ngFor="let complemento of itemsSingle.complemento" class="">
                                                                    <div>
                                                                        {{complemento.cantidad}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                      </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!-- Modal -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Seleccione su Emergencia</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body row">
            <button class="btn btn-outline-success col-6" data-bs-dismiss="modal" (click)="prick()">Pinchazo</button>
            <button class="btn btn-outline-warning col-6" data-bs-dismiss="modal" (click)="singas()">Sin gasolina</button>
            <button class="btn btn-outline-dark col-6" data-bs-dismiss="modal" (click)="robber()">Asalto</button>
            <button class="btn btn-outline-danger col-6" data-bs-dismiss="modal" (click)="injury()">Accidente</button>
          </div>
        </div>
      </div>
</div>

