<NavSm></NavSm>
<div class="container">
    <div  class="row">
        <button class="material-icons bg-danger"  data-bs-toggle="modal" data-bs-target="#eliminarOrder">delete</button>
        <div class="col-md-4 overflow-auto">
            <h4>Datos del cliente</h4>
            <div class="progress" [ngStyle]="{background: '#00356f'}">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <h6 class="col-md-12">Asignar motorista:</h6>
            <div class="col-md-12 fs-6">
                <span class="material-icons">motorcycle</span>
                
                <select class=""  name="" id="biker" [(ngModel)]="bikerSelect" (ngModelChange)="openModal()">
                    <option>Seleccione Motorista</option>
                    <option *ngFor="let biker of BikerAvailable" [ngClass]="biker.nDelivered > 0?'text-danger fw-bold':''" [value]="biker.id">{{biker.countName}} </option>
                </select>
            </div>
            <div class="col-md-12 fs-5">
                <button id="idAloha" class="btn btn-success"  (click)="openAloha()"  *ngIf="ordersStructureSingle.sendAloha != 1">Enviar Aloha</button>
            </div>
            <h6 class="col-md-12">Motorista asignado:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.userbiker}}
            </div>
            <h6 class="col-md-12">Orden:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.orden}} 
            </div>
            <h6 class="col-md-12">Nombre de la orden:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.nombre}}
            </div>
            <h6 class="col-md-12">Telefono:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.telefono}}
            </div>
            <h6 class="col-md-12">Telefono alternativo:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.telalt}}
            </div>
            <h6 class="col-md-12">Correo</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.correo}}
            </div>
            <h6 class="col-md-12">Dirección entrega:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.direccion}}
            </div>
            <hr [ngStyle]="{background: '#00356f'}" class="col-md-12 border-2">
            <h6 class="col-md-12">Datos facturación</h6>
            <h6 class="col-md-12">Nombre:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.nomfac}}
            </div>
            <h6 class="col-md-12">Nit:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.nit}}
            </div>
            <h6 class="col-md-12">Dirección</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.direcfact}}
            </div>
            <h6 class="col-md-12">Indicaciones del Pedido</h6>
            <hr class="col-md-12 border-2" [ngStyle]="{background: '#00356f'}">
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.indicaciones}}
            </div>
            
            <h6 class="col-md-12">Datos de pago</h6>
            <hr class="col-md-12 border-2" [ngStyle]="{background: '#00356f'}">
            <h6 class="col-md-12">Tipo de pago:</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.tipoPago}}
            </div>
            <h6 class="col-md-12">Autorización</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.autorizacion}}
            </div>
            <h6 class="col-md-12">Total</h6>
            <div class="col-md-12 fs-5">
                Q {{ordersStructureSingle.total}}
            </div>
            <h6 class="col-md-12">Cambio</h6>
            <div class="col-md-12 fs-5">
                Q {{ordersStructureSingle.cambio}}
            </div>
            <h6 class="col-md-12">Fecha</h6>
            <div class="col-md-12 fs-5">
                {{ordersStructureSingle.fecha}}
            </div>
            <h6 class="col-md-12">Datos Descuentos</h6>
            <div class="col-md-12">
                <strong>Descuentos Call Center</strong>
                <br>
                {{ordersStructureSingle.cpn_call_description}}
                <br>
                {{ordersStructureSingle.cpn_call_amount}}
                <br>
                <strong>canje cupon</strong>
                <br>
                {{ordersStructureSingle.cpn_cupon}}
                <br>
                {{ordersStructureSingle.cpn_amount}}
                <br>
                {{ordersStructureSingle.cpn_description}}
                <br>
                {{ordersStructureSingle.cpn_sms}}
            </div>
           
        </div>
        <div class="col-md-8 overflow-hidden">
            <h4>Orden</h4>
            <div class="progress" [ngStyle]="{background: '#00356f'}">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div class="row text-center bg-info">
                <div class="col-6 fs-5">Item</div>
                <div class="col-2 fs-5">Cantidad</div>
                <div class="col-2 fs-5">Precio</div>
                <div class="col-2 fs-5">Total</div>
            </div>
            <div *ngIf="ordersStructureSingle.detalle && ordersStructureSingle.detalle.length > 0" class="text-center">
                <div class="row" *ngFor="let masterSingle of ordersStructureSingle.detalle">
                    <div class="col-6">
                        {{masterSingle.master}}
                        <div *ngIf="masterSingle.items && masterSingle.items.length > 0">
                            <div *ngFor="let itemsSingle of masterSingle.items" class="">
                                <div class="text-dark">
                                    - {{itemsSingle.producto}}
                                    <div *ngIf="itemsSingle.complemento && itemsSingle.complemento.length > 0">
                                        <div *ngFor="let complemento of itemsSingle.complemento" class="text-secondary">
                                            <div>
                                                &nbsp; &nbsp; &nbsp;-- {{complemento.itemcomp}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        {{masterSingle.cantidad}}
                        <div *ngIf="masterSingle.items && masterSingle.items.length > 0">
                            <div *ngFor="let itemsSingle of masterSingle.items" class="">
                                <div class="text-dark">
                                    {{itemsSingle.unidad}}
                                    <div *ngIf="itemsSingle.complemento && itemsSingle.complemento.length > 0">
                                        <div *ngFor="let complemento of itemsSingle.complemento" class="text-secondary">
                                            <div>
                                                {{complemento.cantidad}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        {{masterSingle.total}}
                        <div *ngIf="masterSingle.items && masterSingle.items.length > 0">
                            <div *ngFor="let itemsSingle of masterSingle.items" class="">
                                <div class="text-dark">
                                    {{itemsSingle.precio}}
                                    <div *ngIf="itemsSingle.complemento && itemsSingle.complemento.length > 0">
                                        <div *ngFor="let complemento of itemsSingle.complemento" class="text-secondary">
                                            <div>
                                               {{complemento.precio}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        {{masterSingle.total}}
                        <div *ngIf="masterSingle.items && masterSingle.items.length > 0">
                            <div *ngFor="let itemsSingle of masterSingle.items" class="">
                                <div class="text-dark">
                                    {{itemsSingle.precio}}
                                    <div *ngIf="itemsSingle.complemento && itemsSingle.complemento.length > 0">
                                        <div *ngFor="let complemento of itemsSingle.complemento" class="text-secondary">
                                            <div>
                                                {{complemento.precio}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-start">Observaciones: {{masterSingle.comment}}</div>
                    <div class="progress bg-success">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
     </div>
     <div class="col-6">
       
     </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="eliminarOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar orden</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         Desea eliminar la orden <strong class="text-danger">! ESTA ACCIÓN NO TIENE REVERSA</strong> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="DeleteOrder()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="assingBiker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar motorista</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <strong class="text-danger">! Desea asignar o reasignar motorista</strong> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="getAssingBiker()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="sendAloha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar motorista</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <strong class="text-danger">! Desea enviar la orden a Aloha</strong> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendToAloha()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
<!--<div id="map" class="map"></div>-->
