<NavSm></NavSm>
<div class="container-fluid">
    <h5 class="center">Detalle ordenes motoristas</h5>

    <br>
    <h6 class="col-md-12">Seleccionar tienda:</h6>
    <div class="col-md-12 fs-6">
        <span class="material-icons">store</span>
        
        <select class=""  name="" id="tienda" [(ngModel)]="idTienda" (ngModelChange)="getAvailableBiker()">
            <option disabled>Seleccione tienda</option>
            <option *ngFor="let tdsm  of allstore" [value]="tdsm.id">{{tdsm.name}} </option>
        </select>
    </div>
    <!--<div class="row">-->
        <div class="col-12" *ngIf="BikerAvailable.length > 0">
                <div class="col-12">
                    <input class="form-control" type="text" ng-model="search" placeholder="Buscar"/>
                </div>
                <table class="table table-striped .table-hover tablasm">
                    <thead>
                        <tr class="bg-info">
                            <th>Orden</th>
                            <th>Biker</th>
                            <th>Monto</th>
                            <th>Hora inicio</th>
                            <th>Estado</th>
                            <th>Hora final</th>
                            <th>Detalle orden</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let dataPedido of BikerAvailable">
                            <td>{{dataPedido.order_id}}</td>
                            <td>{{dataPedido.user_id}}</td>
                            <td>{{dataPedido.id}}</td>
                            <td>{{dataPedido.initial_date}}</td>
                            <td>{{dataPedido.status}}</td>
                            <td>{{dataPedido.end_date}}</td>
                            <td><a [routerLink]="['/single-order/', dataPedido.order_id]" class="btn bg-info text-dark" (click)="router.navigate(['/PedidoDelivery']);"
                                >ver orden</a></td>
                        </tr>
                    </tbody>
                </table>

        </div>

    <!--</div>-->
</div>
