<nav class="navbar navbar-expand-lg navbar-dark" [style.background-color]="'#00356f'">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Delivery San Martín</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="userInfo !==404">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="userType ===2">
            <a class="nav-link active" aria-current="page" routerLink="/asignacion">Bikers</a>
          </li>
          <li class="nav-item" *ngIf="userType ===1">
            <a class="nav-link active" aria-current="page" routerLink="/coordinacion">Coordinadores</a>
          </li>
          <li class="nav-item" *ngIf="userType ===2">
            <a class="nav-link active" aria-current="page" routerLink="/pedidos">Ordenes</a>
          </li>
          <li class="nav-item" *ngIf="userType ===1">
            <a class="nav-link" routerLink="/register">Crea Usuario</a>
          </li>
          <li class="nav-item" *ngIf="userType ===3">
            <a class="nav-link" routerLink="/biker">Asignadas</a>
          </li>
          <li class="nav-item" *ngIf="userType ===1">
            <a class="nav-link" routerLink="/enterprise">Empresas</a>
          </li>
          <li class="nav-item" *ngIf="userType ===1">
            <a class="nav-link" routerLink="/updatepassword">Actualizar contraseñas</a>
          </li>
          <!--<li class="nav-item" *ngIf="userType ===1">
            <a class="nav-link" routerLink="/detalleestatus">Detalle pedidos</a>
          </li>
          <li class="nav-item" *ngIf="userType ===2">
            <a class="nav-link" routerLink="/ListaOrdenes">Detalle pedidos</a>
          </li>-->
          <li class="nav-item align-end" *ngIf="userType >0">
            
          </li>
          
        </ul>
        <div *ngIf="userType > 0">
          <a class="material-icons text-white fs-3"  routerLink="/login">logout</a>
        </div>
        
      </div>
    </div>
  </nav>