<NavSm></NavSm>
<div class="container">
    <div class="text-center display-4">
        Acutalización de Contraseña
    </div>
        
        <ng-template #rt let-r="result" let-t="term" >
        <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="me-1" style="width: 16px">-->
        <span class="material-icons">assignment_ind</span>
        <ngb-highlight [result]="r.nombre" [term]="t" (click)="add(r)"></ngb-highlight>
        </ng-template>
        
        <div class="mb-3 row">
        <label for="typeahead-template" class="col-md-12 col-sm-auto col-form-label fs-5">Buscar Usuario:</label>
        <div class="col">
            <input id="typeahead-template" type="text" class="form-control col-md-12" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter"/>
        </div>
        </div>
        <div class="border border-primary">
            <table class="table">
                <thead>
                    <tr>
                        <th>código</th>
                        <th>nombre</th>
                        <th>empresa</th>
                        <th>nueva Contraseña</th>
                    </tr>
                </thead>
                <tbody *ngIf="UserAssingstore.length > 0">
                    <tr *ngFor="let userasstd of UserAssingstore" id="lbiker">
                        <td>{{userasstd.codigo}}</td>
                        <td>{{userasstd.nombre}}</td>
                        <td>{{userasstd.empresa}}</td>
                        <td><input  type="text" class="form-control"  [(ngModel)]="actpass" name="newpass" placeholder="Ingrese nueva contraseña"></td>
                        <td><button class="btn btn-info" (click)="updatePass()">actualizar contraseña</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
</div>